---
# Role: proxmox_pbs
#
# Usage:
#
#   roles:
#     - proxmox_pbs
#
# Implements: https://pbs.proxmox.com/docs/installation.html

- name: External IP must be resolvable in /etc/hosts
  lineinfile:
    dest: /etc/hosts
    regexp: '.*{{ ansible_fqdn }}'
    line: '{{ ansible_default_ipv4.address }} {{ ansible_fqdn }} {{ ansible_hostname }}'

- name: Upload /usr/share/keyrings/proxmox-archive-keyring.gpg only if not present
  copy:
    src: files/proxmox-archive-keyring.gpg
    dest: /usr/share/keyrings/proxmox-archive-keyring.gpg
    force: no

# we switched from /etc/apt/sources.list.d/proxmox.list to product
# specific files like pbs.list
- name: Ensure /etc/apt/sources.list.d/proxmox.list is not present
  file:
    dest: /etc/apt/sources.list.d/proxmox.list
    state: absent
  notify: apt-get update

# we manage the repository ourselves
- name: Remove Proxmox BS apt repository files (if installed by Proxmox)
  file:
    dest: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list.d/pbs-enterprise.list
    - /etc/apt/sources.list.d/pbs-enterprise.sources
  notify: apt-get update

- name: Deploy Proxmox BS apt repository
  template:
    src: templates/apt/pbs.list.j2
    dest: /etc/apt/sources.list.d/pbs.list
    owner: root
    group: root
    mode: 0644
  notify: apt-get update

- name: Install (minimal) Proxmox Backup Server
  apt:
    name:
      - proxmox-backup-server
    state: present
